.container__home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container__home-card {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px lightgray;
    padding: 50px;
}

.container__home-text {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container__home-text h1 {
    margin: 4px;
    font-size: 3rem;
}

.container__home-text p {
    margin: 8px 0;
}

.container__home-description {
    white-space: pre-wrap;
}

.container__home-text a {
    text-decoration: none;
}

.container__icon {
    object-fit: fill;
    max-height: 200px;
}
.container__home-login {
    margin: 20px;
    padding: 10px 20px;
    font-size: 2rem;
    border: 1px solid transparent;
    border-radius: 30px;
    background: black;
    color: white;
    transition: 0.3s;
}

.container__home-login:hover {
    background: white;
    border: 1px solid black;
    color: black;
}

.container__home-signup {
    font-size: 1.3rem;
    color: #936fdc;
}

@media screen and (max-width: 1000px) {
    .container__home-card {
        flex-direction: column;
    }

    .container__icon {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    .container__home-text h1 {
        font-size: 2rem;
    }

    .container__home-login {
        font-size: 1.5rem
    }

    .container__home-signup {
        font-size: 1.5rem;
    }
}
